<div class="col-md-6 offset-md-3">
    <div class="card">
        <div class="car-header">
            <h1>Cambiar Contraseña</h1>
        </div>
        <div class="card-body">
            <form action="/changepass" method="POST">
                <div class="form-group">
                    <input type="text" name="email" placeholder="Ingrese un correo" class="form-control" autofocus>
                </div>
                <button class="btn btn-primary btn-block">Enviar Mensaje</button>               
            </form>
        </div>
    </div>
</div>